.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.content {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  justify-content: center;
  margin: 0;
  font-size: 50px;
  color: white;
}

p {
  justify-content: center;
  margin: 20px 0;
  color: white;
  font-size: 20px;
}

.social-icons {
  display: flex;
  gap: 15px;
  padding: 10px;
  justify-content: center;
  margin-left: 0px;
}

.social-icons svg {
  width: 50px;
  height: 50px;
  fill: #19d12b;
  transition: fill 0.2s ease;
}

.social-icons svg:hover {
  fill: #fff;
  scale: 1.1;
}

.center-text {
  text-align: center;
}

.typewriter-text {
  color: #ffffff;
  font-size: 18px;
}
