.resume-link {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    font-family: inherit;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;
    text-align: left;
    display: block;
    text-decoration: none;
}

.resume-link:hover {
    background-color: #40e44861;
    transition: 0.2s;
}