.nav-container {
  width: 100%;
  background: transparent;
  color: white;
  padding: 4px 0px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: right;
  justify-content: right;
  z-index: 10;
  padding-top: 20px;
}

.navbar ul {
  margin-right: 25px;
}

.navbar ul li {
  display: inline-block;
  margin: 20px 15px;
  font-size: 20px;
  transition: background-color 0.2s;
  padding: 8px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.navbar ul li:hover {
  background-color: #40e44861;
  transition: 0.2s;
}

.nav-menu li {
  gap: 5px;
  cursor: pointer;
}

.nav-menu img {
  display: none;
}

.navbar img {
  display: none;
}

@media (max-width: 780px) {
  .navbar {
    margin: 20px 50px;
    flex-direction: column;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0;
    width: 150px;
    height: 100%;
    transition: 0.2s;
    z-index: 10;
    background-color: black;
    list-style-type: none;
  }

  .nav-menu li {
    display: block;
    margin: 25px 40px;
    font-size: 20px;
    padding-top: 10px;
  }

  .navbar img {
    display: block;
    position: fixed;
    right: 40px;
    width: 30px;
    cursor: pointer;
  }

  .nav-menu img {
    display: block;
    position: relative;
    left: 100px;
    width: 20px;
    cursor: pointer;
    padding-top: 30px;
  }
}
