.social-icons {
  display: flex;
  gap: 15px;
  padding: 10px;
  justify-content: center;
}

.social-icons svg {
  width: 50px;
  height: 50px;
  fill: #e4405f;
  transition: fill 0.2s ease, transform 0.2s ease;
}

.social-icons svg:hover {
  fill: #fff;
  transform: scale(1.1);
}
